/* Diseño Desktop */

@media screen and (min-width: 481px) {
    .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "navIzq navIzq logo logo navDer navDer"
    "texto texto texto texto texto texto"
    "video video video video video video"
    "footer footer footer footer footer footer";
}


#logo {
    display: grid;
    grid-area: logo;
    justify-items: center;
    background-color: green;
}
.imagen_logo {
    width: 100%;
    max-width: 100px;
}

.redes {
    width: 40px;
}  

.menu_header {
    list-style: none;
}

.menu_header li {
    display: inline
}

.menu_header li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navIzq {
    display: grid;
    justify-items: center;
    grid-area: navIzq;
    background-color: green;
}

#navDer {
    display: grid;
    justify-items: center;
    grid-area: navDer;
    background-color: green;
}

#texto {
    display: grid;
    justify-items: center;
    text-align: justify;
    grid-area: texto;
}

#texto h1 {
    display: flex;
    justify-items: center;
    justify-content: center;
}

#texto h1 p {
    display: flex;
    justify-items: center;
    justify-content: center;
}

#video {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-area: video;
}

.video_texto {
    width: 100%;
    border-radius: 20px;
    float: inline-start;
}

#footer {
    display: grid;
    justify-items: center;
    grid-area: footer;
    background-color: green;
    padding: 10px;
}

#footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10px;
}

#footer ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-image: linear-gradient(to left, rgb(0, 145, 255) , yellow);
}

.animate {
    margin: 0 0.5rem;
  
    animation: shakeY; 
    animation-duration: 3s; 
}

h1 {    
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}

.redes_sociales {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Comic Sans MS';
    font-size: 11px;
    margin: 5px;
}

}



/* Diseño Mobile */
@media screen and (max-width: 480px) {
    .gridContainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "logo" "logo"
        "navIzq" "navDer"
        "texto" "texto"
        "video" "video"
        "footer" "footer";
    }

    #logo {
        display: grid;
        grid-area: logo;
        justify-items:center;
    }
    
    .imagen_logo {
        width: 100%;
        max-width: 60px;
    }

.redes {
    width: 24px;
}    

.menu_header {
    display: inline-block;
    list-style: none;
    

}

.menu_header li {
    display: inline-block;
}

.menu_header li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#navIzq {
    display: grid;
    background-color: green;
    justify-items: center ;
    grid-area: navIzq;
    height: 40px;
}

#navDer {
    display: grid;
    background-color: green;
    justify-items: center ;
    grid-area: navDer;
    height: 40px;
    width: auto;
}

#texto {
    display: grid;
    justify-items: center;
    grid-area: texto;


}

#video {
    display: grid;
    justify-items:center;
    grid-area: video;
    

}



.video_texto {
    width:100%;
    border-radius: 20px;
}

#footer {
    display: grid;
    justify-items: center;
    grid-area: footer;
    background-color: green;
}

#footer ul{
    list-style: none;
}

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    text-decoration: none;
    color: white;
}

body {
    background-image: linear-gradient(to left, rgb(0, 145, 255) , yellow);
}

.animate {
    margin: 0 0.5rem;
  
    animation: shakeY; 
    animation-duration: 3s; 
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
}

.redes_sociales {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Comic Sans MS';
    font-size: 11px;
    margin: 5px;


}


